<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boya.platform.marineonline.mapper.BypPersonalUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.boya.platform.marineonline.model.po.BypPersonalUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="head_document_file_id" jdbcType="INTEGER" property="headDocumentFileId" />
    <result column="mail_address" jdbcType="VARCHAR" property="mailAddress" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_post" jdbcType="VARCHAR" property="companyPost" />
    <result column="use_status" jdbcType="CHAR" property="useStatus" />
    <result column="valid_flag" jdbcType="CHAR" property="validFlag" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>