<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boya.platform.forum.mapper.ForumUserRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.boya.platform.forum.model.po.ForumUserRelationship">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_relation_id" jdbcType="BIGINT" property="userRelationId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="follower_id" jdbcType="BIGINT" property="followerId" />
  </resultMap>
</mapper>