<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boya.platform.forum.mapper.ForumHistoryMapper">
  <resultMap id="BaseResultMap" type="com.boya.platform.forum.model.po.ForumHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="history_id" jdbcType="BIGINT" property="historyId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="history_date" jdbcType="TIMESTAMP" property="historyDate" />
  </resultMap>

  <resultMap id="ExtendResultMap" type="com.boya.platform.forum.model.po.ForumHistoryExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="history_id" jdbcType="BIGINT" property="historyId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="history_date" jdbcType="TIMESTAMP" property="historyDate" />
    <result column="post_title" jdbcType="LONGVARCHAR" property="postTitle" />
    <result column="post_author_name" jdbcType="VARCHAR" property="postAuthorName" />
  </resultMap>

  <!-- 获取用户的浏览历史记录 -->
  <select id="selectByUserId" resultMap="ExtendResultMap">
    select MAX(h.history_date) history_date,h.history_id, p.post_author_id user_id, h.post_id, p.post_title, u.display_name post_author_name
    from forum_history h, forum_post p, forum_user u
    where h.post_id = p.post_id and p.post_author_id = u.user_id and h.user_id = #{userId}
    GROUP BY h.post_id
    order by history_date DESC
  </select>
</mapper>